

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    height: 80vh;
    margin: 0;
}


@keyframes button-animation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}


button {
    animation: button-animation 4s ease infinite;
    background-size: 200% 200%;
}
